footer{
  margin-top: 30px;
  padding: 30px;
  width: 100%;
  height: 300px;
  -webkit-box-shadow: inset 0px 8px 32px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 8px 32px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 8px 32px 0px rgba(0,0,0,0.75);
  background: #000;
  background-image: url('/img/asfalt.png');
  font-family: 'Lato', sans-serif;}

.footer-table{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.footer-table h3{
  text-decoration: underline;
}

.footer-table tr{
  height: 30px;
}

#footer-label{
  color: #b3b3b3;
}

.footer-table td a{
  color: #a5a5a5;
}

.social_media_buttons{
  text-align: center;
}
